.env
requirements_backup.txt
.env.example
DEPLOYMENT_GUIDE.md
main_beta.py
reranker.py
# Folders
Frontend/
__pycache__/
Playage_RAG_ENV/
dist/
node_modules/

# FAISS / embeddings
# *.faiss
# *.pkl


# Env
.env
myenv/