@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Custom Chat Scrollbar */
  .chat-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .chat-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .chat-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(203 213 225 / 0.8); /* slate-300 */
    border-radius: 20px;
  }

  /* Dark mode scrollbar */
  .dark-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(51 65 85 / 0.8); /* slate-700 */
  }
}
